<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>온라인 보건실</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
</head>

<body>
    <div class="load"></div>

    <div class="top" style="text-align: center;">
        <img class="logo" src="{{url_for('static', filename='img/logo.png')}}" style="height: 70%; margin-top:10px">
    </div>
    <div style="text-align: center; height: 10vh;"></div>
    <div class="mid shadow1">
        <!--중간 이미지 -->
        <img src="http://www.mkhealth.co.kr/news/photo/201703/img_MKH170306008_0.jpg" alt="">
        <h1 class='ti-text' style="text-align: left;"><span class="f2 b2">온라인 보건실</span><br>4 테이핑요법</h1>
    </div>
    <div class="context f3 b1" style="position: relative;">
        <p class="cin">
            <b>테이핑요법이란?</b> <br> 접착성이 있는 테이프나 붕대등을 사용하여 관절과 근육의 해부학 및 운동역학적 특성, 각 부위의 크기와 형태 등을 고려하여 감아주는 보조적 요법을 말합니다.
            실제로 많은 운동선수들이 축구, 농구, 야구 등 다양한 구기 스포츠 활동 시에 관절을 보호해주고 근육 손상 또는 인대 파열로부터 보호를 위해 사용하고 있습니다. 이외에도 부상부위의 재발 방지,
            재활치료 또는 훈련 시 고정, 응급처치등을 목적으로 사용하고 있습니다.
            <br /><br>
        </p><br>
        <hr>

        <p class="cin">
            <b>테이핑요법의 종류</b><br>
            스포츠 테이핑<br>
            - 접착성과 신축성 있는 테이프를 관절 또는 근육에 부착해 관절 및 근 부상을 예방하는 방법입니다. 테이핑을 하면 근육이 한계 이상으로 스축하거나 이완하는 것을 막아 주기 때문에 통증 및 부상을
            막아주는 효과가 있습니다.
            <br><br>키네시오 테이핑<br>
            - 관절을 움질일 때 가장 큰 힘을 쓰는 근육(주동근)의 작용을 정상화하기 위해 해당 근육의 바로 위 피부에 신축성이 좋은 테이프를 부착함으로써 근육의 긴장도를 억제하거나 촉진시켜서 해당 부위의
            통증 완화와 근육 기능을 향상 시켜주는 테이핑 요법입니다.
            <br><br>입는 테이핑<br>
            - 보통의 테이핑은 뜯었다 붙였다 해야하지만 입는 테이핑의 경우 토시처럼 착용을 해 근육을 압박합니다. 일명 종아리 밴드로 불리는 바이오튜브는 축구와 배구, 배드민턴 등을 하는 사람들에게 인기를
            끌고 있습니다. 축구 스타킹처럼 전부를 압박하는 것이 아니라 스포츠 과학적 원리에 따라 근육만을 압박합니다.
        </p><br>
        <hr>
        <p class="cin">
            <b>테이핑 요법</b><br>
            - 손목 테이핑<br>
        </p>
        <img src="{{url_for('static', filename='img/img01.png')}}" class="cin-img">
        <p class="cin">
            1. 손목을 뒤로 젖힌 후 손목에서부터 팔꿈치를 향하여 테이프를 붙입니다. <br>
            2. 통증이 있는 손목에 테이프를 덧붙입니다. 테이프와 테이프 사이를 조금 띄 우는 것이 좋습니다. <br>
            3. 반대편에 통증이 있을 시 같은 방법으로 테이핑합니다. <br><br><br>
            - 발목 테이핑
        </p>
        <img src="{{url_for('static', filename='img/image02.png')}}" class="cin-img">
        <p class="cin">
            1. 무릎을 구부리고 발목을 편 후 발등에서 정강이 부근까지 테이프를 붙여줍니다. <br>
            2. 발목을 감싸듯이 테이프를 추가로 고정시킵니다.
        </p><br>
        <img src="{{url_for('static', filename='img/image03.png')}}" class="cin-img">
        <p class="cin">
            1. 발끝을 당긴 상태에서 테이핑을 시작합니다. <br>
            2. 위의 절차에 따라 테이핑을 진행합니다. <br><br><br>
            - 무릎 테이핑<br>
        </p>
        <img src="{{url_for('static', filename='img/image04.png')}}" class="cin-img">
        <p class="cin">
            1. 무릎을 살짝 굽힌 상태에서 무릎 내측에 붙입니다. <br>
            2. 반대편에도 동일한 방법으로 붙입니다. <br>
            3. 슬개골 밑부분에 가로로 붙여 테이핑을 보완합니다. <br><br><br>
            - 팔꿈치 테이핑법
        </p>
        <img src="{{url_for('static', filename='img/image05.png')}}" class="cin-img">
        <p class="cin">
            1. 무릎을 살짝 굽힌 상태에서 무릎 내측에 붙입니다. <br>
            2. 반대편에도 동일한 방법으로 붙입니다. <br>
            3. 슬개골 밑부분에 가로로 붙여 테이핑을 보완합니다. <br>
        </p><br>
        <hr>
        <p class="cin">
            <b>더보기</b><br><a href="http://www.atextape.com/sub/sub_04_02.php">다른 부위별 테이핑 법 더보기</a>
        </p>


    </div><br><br>
    <div class="bottom">
    </div>
</body>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="{{url_for('static', filename='js/animate.js')}}"></script>

</html>