<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>온라인 보건실</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
</head>

<body>
    <div class="load"></div>

    <div class="top" style="text-align: center;">
        <img class="logo" src="{{url_for('static', filename='img/logo.png')}}" style="height: 70%; margin-top:10px">
    </div>
    <div style="text-align: center; height: 10vh;"></div>
    <div class="mid shadow1">
        <!--중간 이미지 -->
        <img
            src="http://www.todayplusnews.com/news/photo/202104/34033_20495_839.jpg">
        <h1 class='ti-text' style="text-align: left;"><span class="f2 b2">온라인 보건실</span><br>5 장애 인식 개선</h1>
    </div>
    <div class="context f3 b1" style="position: relative;">
        <p class="cin">
            <b>장애란?</b> <br>장애는 신체나 정신에 기능적으로 문제가 있어서 기능을 하지 못하는 것을 말합니다. 자신 주변의 세상과 소통하거나 특정 활동을 하기에 어렵게 만드는 조건을 말합니다.
            또한 각기 다른 공동체에서 각기 다른 의미가 부여될 수 있으므로 장애는 여러 의미가 있는 개녑입니다. ’장애‘라는 용어는 일부 기관들, 특히 의학계에서 조정이 필요한 것으로 간주하는 신체적 또는
            정신적 속성을 가리킬 수 있습니다.
        </p><br>
        <hr>
        <p class="cin">

            <b>장애 당사자를 알맞게 표현한 단어는 무엇일까요?</b><br />
            1. 장애자<br />
            2. 장애인<br />
            3. 장애우<br /><br>
            <span class="f1">정답 :　2번</span><br />
            1번 장애자는 마지막에 者(놈 자)를 쓰는 과거부터 장애를 비하하는 의미를 내포한 표현입니다.<br />
            2번 가장 무미건조 하지만 장애를 가진 분들은 거부감이 덜한 표현이라고 합니다.<br />
            3번 장애우는 마지막에 友(벗 우)를 쓰는 표현으로 장애를 가진 분들은 우리들의 다 소중한 이웃이야라는 표현이지만 당사자들에게 약간의 거부감을 주는 표현이다. (많은 분들이 잘못 아시고
            계십니다.)
        </p><br>
        <hr>

        <p class="cin">
            <b>대한민국 인구 약 5천만명 중 장애인은 몇 명이나 있을까요?</b><br /><br>
            <span class="f1">정답 : 2019년 통계청 기준 267만명, 전체 국민의 5.39%가 해당된다고 합니다.</span><br />
            미국은 12.8%, 스웨덴은 16.8%, 호주는 18.3%, 헝가리는 25%가 장애인으로 등록이 되어있다고 합니다. 이를 통해 헝가리나 호주는 우리나라에 비해 장애 발생률이 높은가?라는 의문점이
            들 수 있습니다. 하지만 이렇게 차이가 나는 이유는 나라마다 장애로 인정되는 기준이 다르기 때문입니다. 다른 나라에선 당뇨, 알코올 중독, 우울증, 암, 의사소통이 어려운 이민자까지도 장애인
            자격을 부여하기도 합니다. 여기서 우리가 알아야할 점은 바로 ‘장애는 특별한 것이 아니다’라는 것입니다. 장애의 기준을 너무 한정시켜 생각하는 것이 아니라 넓은 의미로써 그냥 사회적 기준에 따라
            장애가 될 수도 있고 않 될 수도 있구나라고 생각하는 태도가 필요합니다. 특히 우리나라에선 장애인을 특별한 그룹으로 묶어서 대하는 경향이 있지만 이러한 사회적 인식에서 장애를 더 폭 넓게 보는
            시각이 필요합니다.
        </p><br>
        <hr>
        <p class="cin">
            <b>장애와 관련된 다음 표현중 옳은 것은?</b><br />
            1. 영희는 발달장애를 앓고 있다.<br />
            2.. 철수는 휠체어 장애인이다.<br />
            3. 영철이는 다리가 불편하다.<br />
            4. 미영이는 맹인이다.<br />
            5. 경민이는 활동 보조사와 동행중이다.<br /><br>
            <span class="f1">정답 : 3번</span><br />
            1번은 대표적인 잘못된 장애와 관련된 표현입니다. 앓다 라는 표현은 어떤 질병에 관련되서 표현할 때 쓰이는 데 병으로 인해 장애가 발생 할 수는 있지만 장애 자체가 질병 이기 때문에 ‘앓고
            있다.’, ‘앓다’ 라는 표현은 무례한 표현입니다. 장애는 병이 아닌 일종의 상태라고 생각하는 것이 올바른 생각입니다.<br />
            2번은 휠체어 장애인이라는 표현은 장애인의 정체성이 퓔체어에 귀결시키는 일이 됩니다. 좀더 올바른 표현 으로는 ‘철수는 휠체어 사용자다’, ‘철수는 휠체어를 타고 있는 사람이다’ 정도가 맞는
            표현입니다.<br />
            3번에서는 5개 중에 가장 덜 무례한 표현이라고 합니다. 하지만 불편하다가 그렇게 좋은 표현 또한 아닙니다. 불편하다는 상대적인 뜻을 가지고 있기 때문에 항상 바뀔 수 있는 가능성이 있기 때문에
            현재에는 맞고, 미래에는 틀릴 수 있는 표현입니다.<br />
            4번은 맹인이라는 표현은 과거부터 굉장히 많이 쓰였던 단어지만 실제 시각장애인분들은 맹인이라고 부르는 것을 굉장히 좋아하지 않는다고 합니다. 이유는 한자의 어원에서 찾아볼 수 있습니다. 盲(소경
            맹)자는 亡(망할 망)자와 目(눈 목)자가 합쳐진 한자로 직역하면 눈이 망한 사람이 되기 때문에 맹인이라는 표현보다 시각장애인이라는 표현이 무례하지 않은 표현입니다. 시각장애인에 대한 인식이
            눈이 안보이는 사람이 아닌 감각하는게 다른 사람으로 보는 것이 당연한 것입니다.<br />
            5번은 활동보조사 부분에서 문제가 될 수 있는 점이 있습니다. 활동보조사라는 말은 통상적으로 장애인의 사회 및 가사 활동을 돕기 위한 사회 서비스를 하시는 분이라고 들립니다. 하지만 실제로
            활동보조사라고 불리던 당사자 분들은 활동을 보조하기만 하는 분은 아니기 때문에 최근에 ‘활동지원사’라는 표현으로 용어가 바뀌었다고 합니다.
        </p><br>
        <hr>
        <p class="cin">
            <b>정리</b><br>
            위의 글을 통해 알 수 있듯 과거에는 문제 없던 표현들이 현재에 틀린 표현들이 되고 있습니다. 이렇게 바뀌었듯 미래에도 또한 바뀔 수 있다는 점을 유의하시길 바랍니다.
            우리는 모두 ‘장애 감수성‘을 갖추고 있는 사람이 되어야합니다. 장애 감수성이란 장애 또는 장애인에 대한 반응으로서, 장애의 다름을 인정하고 장애인을 존중하는 태도와 마음가짐을 뜻합니다. 앞의
            퀴즈들을 통해 장애 감수성을 갖춘 사람에 한발짝 다가가기를 바라겠습니다
        </p><br>
        <hr>

        <p class="cin">
            *위의 내용은 ’한국장애인개발원‘의 영상을 참고해 쓰여진 내용입니다. 더 많은 장애인에 대한 정보들 또는 장애 감수성을 갖추고 싶다면
            <a href="https://www.youtube.com/channel/UCaxUtajlV9xvwmPTE40EaTw">이 링크</a>를 클릭해 더 많은 내용의 영상들을 시청하실 수 있습니다.
        </p>
    </div><br><br>
    <div class="bottom">
    </div>
</body>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="{{url_for('static', filename='js/animate.js')}}"></script>

</html>