<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>온라인 보건실</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
</head>

<body>
    <div class="load"></div>

    <div class="top" style="text-align: center;">
        <img class="logo" src="{{url_for('static', filename='img/logo.png')}}" style="height: 70%; margin-top:10px">
    </div>
    <div style="text-align: center; height: 10vh;"></div>
    <div class="mid shadow1">
        <!--중간 이미지 -->
        <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/182FF/production/_107317099_blooddonor976.jpg">
        <h1 class='ti-text' style="text-align: left;"><span class="f2 b2">온라인 보건실</span><br>9 흡연예방</h1>
    </div>
    <div class="context f3 b1" style="position: relative;">
        <p class="cin">
            <b>청소년 흡연율</b> <br>청소년 건강행태온라인조사에 따르면 우리나라 청소년 흡연율은 2015년 담뱃값 인상으로 인해 2016년에 6.3%로 큰 폭으로 감소하였으며, 그 이후
            2019년(6.7%)까지 소폭 증가하는 추세를 보였으나 2020년 4.4%로 전년대비 감소하였습니다. 특히, 남학생의 흡연율(6.0%)의 경우 조사이래로 가장 낮은 수준을 보였습니다.
            남녀학생 흡연율 모두에서 지난 15년간 각각 약 8%, 6%정도 감소하였으며, 여학생의 흡연율 대비 남학생의 흡연율이 높은 것으로 나타났습니다.

        </p><br>
        <hr>
        <p class="cin">
            <b>니코틴 중독이란?</b> <br>-청소년의 경우 흡연을 시작한지 1~2일 후부터 흡연에 대한 자제력이 없어지며, 하루에 2개비 정도 담배를 피우게 되면 국제질병분류(ICD-10) 기준에
            의한 약물 (니코틴) 의존 증상이 나타나게 됩니다. 또한 청소년은 흡연을 시작한 지 23개월 내에 흡연 중독과 같은 증상을 보이며, 금연 시 금단증상이 나타날 수 있습니다. 미국 질병조절센터에서
            10세에서 22세까지의 흡연자 대상으로 조사한 결과, 적어도 100개비 이상의 담배를 피운 이들 3명 중 2명이 “담배를 끊기 너무 힘들다”고 응답하여 평생 100개비 이상 흡연한 사람은
            니코틴에 중독되었다고 여겨지고 있습니다.
        </p><br>
        <hr>
        <p class="cin">
            <b>흡연으로 인한 질병</b><br>
            1)남성과 흡연<br />
            <span style="color:red;" class="b9">발기부전</span>은 대체로 40세 이상에서 20~50%의 유병률을 보이며 나이가 증가할수록 증가하는 양상을 보입니다. 남성
            성기능장애는 스트레스, 환경공해, 음주, 흡연, 그리고 고혈압, 당뇨, 심장질환
            등 여러 가지 성인병이 원인으로 알려져 있습니다. 정신적인 스트레스, 불안감 등이 원인이 되는 심인성(정신적)과 신체에 다른 질환이나 해부학적인 문제가 있는 기질성(육체적) 발기 부전으로 구분할
            수 있습니다.<br />
            흡연은 정자를 생산하고 저장하는 고환의 기능을 떨어뜨려, 정자의 변형을 일으키고 정자의 DNA를 손상시키며 정자 수를 감소시킵니다. 발기는 남성 성기의 동맥과 정맥의 혈류에 의하여 결정되는데
            니코틴은 성기의 혈관수축 또는 혈관경련을 초래하여 혈액의 공급을 제한합니다. 또한 흡연으로 인해 혈관 벽이 손상되고 손상된 부위에 지방이 침착하여 혈류를 방해함으로써 발기 부전증이 생깁니다.
            흡연자의 성기능장애 발병은 비흡연자보다 6배 이상 높으며 몇몇 관찰 연구에서 금연이 발기부전 회복을 이끌었다는 결과가 있습니다.<br /><br>
            2)코로나와 흡연<br />
            흡연자들은 코로나19에 감염될 가능성이 더 큽니다. 이에 대한 연구 결과는 아직 제한적이지만, 실내외 흡연구역에서 담배를 피우는 경우에 비말을 통한 감염 위험이 커지고, 오염된 손으로 담배를
            피우는 행위도 바이러스가 몸으로 들어올 위험을 커지게 합니다. 코로나19 바이러스의 감염 수용체가, 흡연자에서 훨씬 더 많다는 보고도 있습니다. 2020년 8월 발표된 영국인 5만 3천여 명을
            분석한 연구에 따르면, 여러 요인을 보정한 후에도 흡연자는 비흡연자에 비해 코로나19에 걸릴 위함이 79% 높았습니다. 마스크와 같이 전염을 막을 수 있는 필수적인 행동들을 흡연자는 30% 정도
            덜 하는 것으로 나타났는데, 반면 코로나 19로 인해 심각한 위험이 있을 거란 걱정은 흡연자들이 34% 더 많이 하는 것으로 나타났습니다.<br />
            모든 종류의 담배는 폐활량을 줄이고 여러 가지 호흡기 감염의 위험을 증가시키기 때문에, 호흡기 질환의 중증도를 증가시킵니다. 흡연은 폐기능을 저하시켜서 신체가 코로나 바이러스에 맞서 싸우기
            어렵게 하고 이에 따라 산소 치료나 중환자실 치료 등 중증으로 진행할 확률을 높이게 됩니다.<br /><br>
            3)탈모와 흡연<br />
            담배연기 유해 물질은 모낭의 DNA를 손상시켜 탈모를 유발할 수 있다는 보고도 있습니다. 또한 남성 탈모의 원인은 남성호르몬 디하이드로 테스토스테론 변화와 관련되는데 흡연자는 비흡연자에 비해
            디하이드로 테스토스테론 분비량이 더 많아져서 탈모가 발생하는 경향이 있는 것으로 나타납니다. 40세 이상 남성을 대상으로 한 대만 연구 결과, 흡연으로 인한 탈모 발생 위험성은 약 1.8배
            증가하고, 흡연량 또한 탈모에 영향을 미쳐 하루 20개비 이상 흡연하는 경우 탈모 위험성이 약 2.3배 증가한다고 보고되었습니다.
        </p><br>
        <hr>
        <p class="cin">
            <b>스트레스와 담배의 불편한 진실</b><br>
            1)담배는 스트레스를 풀어준다?<br />
            담배를 피우는 초기에는 일종의 쾌감, 즐거움, 집중력 상승과 같이 원하는 효과, 즉, 좋아서 담배를 찾게 됩니다. 하지만 시간이 지날수록 니코틴의 작용에 내성이 생겨 원하는 효과는 줄어들고,
            금단증상을 완화시키기 위해 계속 피웁니다. 다시 말해, 좋아서 피우던 담배가 나중에는 괴로움을 없애기 위해 피우는 담배가 됩니다.<br /><br>
            2)담배를 끊으면 스트레스를 받을까?<br />
            담배의 금단증상으로는 짜증, 욕구불만, 분노, 불안, 집중력 감소, 안절부절, 식욕 증가, 우울감, 불면증 같은 것들이 있습니다. 이러한 금단증상들은 담배를 피워서 혈중 니코틴 농도가 올라가면
            사라지게 됩니다. 따라서 흡연자들은 담배를 피우면 금단현상이 사라지는 것을 경험하게 되고, 이것을 스트레스가 풀린다고 생각합니다. 스트레스를 받을 때의 현상들과 담배 금단증상이 거의 비슷하기
            때문에 그렇게 착각하는 것입니다.
        </p>


    </div><br><br>
    <div class="bottom">
    </div>
</body>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="{{url_for('static', filename='js/animate.js')}}"></script>

</html>