<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>온라인 보건실</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
</head>

<body>
    <div class="load"></div>

    <div class="top" style="text-align: center;">
        <img class="logo" src="{{url_for('static', filename='img/logo.png')}}" style="height: 70%; margin-top:10px">
    </div>
    <div style="text-align: center; height: 10vh;"></div>
    <div class="mid shadow1">
        <img src="https://cdn.labortoday.co.kr/news/photo/202106/203105_82414_3929.jpg" alt="">
        <h1 class='ti-text' style="text-align: left;"><span class="f2 b2">온라인 보건실</span><br>10 건강검진</h1>
    </div>
    <div class="context f3 b1" style="position: relative;">
        <p class="cin">
            <b>건강검진</b>: 간단히 설명하자면 “어떤 사람이 건강한지 아닌지를 검진하는 것”이라고 할 수 있습니다.<br><br>
        </p>
        <img class="cin-img"
            src="https://blog.kakaocdn.net/dn/lNy8z/btqRVpONxHb/w8NnRkq1rqjhTHfi6AlRVK/img.png"><br><br>
        <p class="cin">
            • <b>어떤 사람을 검진할 것인가?</b><br>검진대상자(수검자)는 증상이 없는 사람이다. 즉, “환자가 아닌 일반인” 입니다. 그러므로 아파서 병원을 찾는 일반 환자와는 다른 특성을 가지고
            있습니다.(실제로는 증상이 있는 사람, 심지어 입원 중인 환자도 건강검진을 받으나 이는 건강검진의 개념에는 벗어나는 경우이므로 제외합니다.)그리고 건강검진은 개인을 대상으로 하기보다는 주로 특정
            인구집단을 대상으로 이루어집니다. 어떤 개인의 필요를 위한 것이 아니라 특정한 집단 전체를 위한 시스템이라는 점이 일반적인 진료와 다릅니다.
            <br><br><b>• 건강한지 아닌지를 어떤 기준으로 판정할 것인가?</b><br>정해진 검진항목 내에서 “찾고자하는 질병이 있는지 없는지”를 기준으로 삼습니다. 정해진 검사 항목 내에서
            찾고자 하는 주요 목표가 되는 질환을 표적 질환(target disease)이라고 하며, 검사항목의 정상범위를 벗어나는 경우가 있는지 찾아내는 것을 선별(screening)이라고
            합니다.따라서 건강검진에서의 건강은 정해진 검사 항목에서 표적 질환이 검출되지 않은 경우를 의미하는 매우 좁은 의미의 건강입니다.
            <br><br><b>• 건강검진 대장사 조회는 어떻게 하는가?</b><br>국가건강검진 대상자 조회는 아래 링크에서 할 수 있습니다. <a
                href="https://www.nhis.or.kr/nhis/index.do">링크</a><br><br>
        </p>
        <hr>
        <p class="cin">
            <b>목적</b><br>의학적인 의미의 예방은 4가지 영역으로 나누어집니다. <br>
            <br>• <b>1차 예방</b> - 환자가 느끼는 증상이 없고, 실제로도 질병이 없을 경우질병이 발생하기 전에, 환경을 개선하고 병에 대한 저항력을 높이는 등의 노력을 1차 예방이라고 합니다.
            금연, 절주, 운동, 식이 관리, 각종 사고의 예방, 예방접종 등이 포함됩니다.
            <br><br>• <b>2차 예방</b> - 환자가 느끼는 증상이 없으나, 실제로는 질병이 있을 경우질병이 발병했을 때, 될 수 있는 대로 조기에 진단하고 치료하여 병이 더 악화되는 것을 막는
            것을 2차 예방이라 합니다. 암을 조기에 발견하고자 하는 건강검진이 2차 예방에 속합니다.
            <br><br>• <b>3차 예방</b> - 환자가 느끼는 증상도 있고, 실제로도 질병이 있을 경우이 경우에는 흔히 일반적인 진료(외래 또는 입원)의 형태로 의료행위가 일어나게 됩니다. 예방의
            입장에서 보면 질병이 이미 발병한 후에, 그 후유증의 발생을 예방하여 신체기능에 장애가 오지 않도록 하는 것을 들 수 있다. 재활치료가 여기에 속합니다.
            <br><br>• <b>4차 예방</b> - 환자가 느끼는 증상이 있으나, 실제로는 질병이 없는 경우이 경우에 환자의 요구에 의해 과잉진료가 일어나기 쉽습니다. 이 경우에는 무분별한 건강진단과
            이로 인해 불필요한 의학적 처치를 받게 되는 것을 예방하는 것이 중요하게 됩니다. 과거에는 주목받지 못하다가 최근 들어서 중요성을 인정받고 있는 영역입니다. 이 영역에서는 의사-환자 관계, 환자
            교육 등이 중요하게 다뤄지고 있습니다.
            <br>
            <br>
            건강검진의 목적은 이들 가운데 주로 1차 예방과 2차 예방의 영역에서 살펴볼 수 있습니다.
            1차 예방의 측면에서는 수검자의 키/몸무게/혈압/혈당/콜레스테롤 등의 현재 상태를 검사함으로써, 지금의 건강 관리가 잘 되고 있는 지를 점검하고 이에 대한 교육을 받게 합니다.2차 예방의
            측면에서는 수검자가 이미 가지고 있을 수 있는 질병들(대표적으로 암과 같은 종양성 질환)을 조기에 발견하여 조기에 치료할 수 있게 합니다.
            <br><br>
        </p>
        <hr>
        <p class="cin">
            <b>검사 전 유의 사항</b><br>
            • 술을 3일 전, 식사는 12시간 전부터 금한다.
            <br>• 혈압약·심장약은 당일 새벽 6시경에 복용한다. 원래 내시경 검사를 방해하기 때문에 약뿐아니라 어떤 것이든 검진 당일 아침에는 먹지 말라고 하지만, 혈압약·심장약은 한번 약을 복용하지
            않은 것으로도 심각한 상황을 초래할 수 있기에 새벽 일찍 복용하게 한다. 또한 혈압이 160/100을 넘으면 내시경 검사를 할 수 없게 되어서, 검사를 위해 어쩔 수 없이 혈압약을 복용하게
            하기도 한다.
            <br>• 당뇨 환자는 당일 아침 인슐린 주사나 당뇨약 복용을 금한다. 당뇨병 환자가 금식 상태에서 혈당을 낮추는 약물을 쓰면 최악의 경우 저혈당으로 쓰러져서 검진받다말고 응급실로 이송될 수
            있다.
            <br>• 검사 당일 물·껌·담배 등을 금한다.
            <br>• 혈액검사를 받을 때 첨단 공포증이 있으면 의사들에게 반드시 보고하고 침대에 누워서 최대한 심신상태를 안정시킨 뒤 천천히 혈액검사를 받도록 하자. 특히 혈액검사를 받기 전에 눈을 안대로
            가려달라고 부탁하고 가급적 숙련된 사람이 뽑아달라고 부탁하는 게 좋다.
            <br>• 여성은 생리가 끝난 지 5일이 지난 후에 검사를 받는다.
            <br>• 대장내시경 검사는 3일 전부터 씨가 있는 과일을 먹지 않는다.
            <br>• 수면 내시경 검사 직후 자동차 운전 등 기계 조작을 해선 안된다.
            <br>• 여성은 혈관조영술/CT 검사를 받기 전 임신 여부를 확인해야 한다.
            <br>• 검사 전날 충분한 수면을 통해 맑은 정신으로 수검에 임해야 한다.
        </p><br><br>
        <hr>
        <p class="cin">

            <b>진행 과정</b><br />
            • 문진표 작성 - 검진 동기나 과거 병력, 사회력, 가정환경, 가족력 등을 파악해서 알맞은 항목을 정하는 데 중요한 것입니다.<br />
            • 상담 - 문진표에 기록된 내용들을 토대로 전문의와 상담합니다. 금연/절주/운동/식이 관리 등에 대해 상담을 하고 필요한 사항에 대해 교육을 받는다. 평소에 궁금했던 건강상의 문제들에 대해
            문의를 해도 됩니다.<br />
            • 기초 의학검사 - 신장, 체중등과 같은 체위 검사와 청력, 시력, 혈압, 소변 검사등을 받습니다. 대변 검사를 통하여 분변 잠혈을 찾아낼 수도 있습니다. 그 외엔 혈액검사, 위장 조영검사,
            심전도 검사, 폐기능 검사, X-선 검사, 복부 초음파 검사등이 있습니다.<br />
            • 추가적인 선별 검사
        </p>
    </div><br><br>
    <div class="bottom">
    </div>
</body>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="{{url_for('static', filename='js/animate.js')}}"></script>

</html>